
        {% block head %}
            <link rel="stylesheet" href="{{ url_for('static', filename="css/font.css") }}">
            <link rel="stylesheet" href="{{ url_for('static', filename="css/xadmin.css") }}">
            <script src="{{ url_for('static', filename="lib/layui/layui.js") }}" charset="utf-8"></script>
            <script type="text/javascript" src="{{ url_for('static', filename="js/xadmin.js") }}"></script>
        {% endblock %}

        <!-- <link rel="stylesheet" href="./css/theme5.css"> -->

